@charset "UTF-8"; /* base */
$header_w: 245px;
$topbar_h: 35px; /* wrapper */

#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  background: #fff;
  color: #9c9c9c;

  a{
    color: #9c9c9c;
    &:hover{
      color: #444;
    }
  }

  &.sidebar_off {
    #sidebar {
      display: none;
    }

    #content{
      padding-left: $header_w;
       .topbar {
         padding-left: $header_w + 20px;
       }
    }

    .sidebar_switcher {
      .fa-toggle-off{
        display: block !important;
      }
      .fa-toggle-on{
        display: none !important;
      }
    }
  }
}
/* header */

#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: $header_w;
  height: 100%;
  border-right: 1px solid #e5e5e5;

  .header_inner {}
  /* topbar */
  .topbar {
    height: $topbar_h;
    margin-bottom: 30px;
    padding: 8px 5px 0px 5px;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;

    .skin {
      margin-top: 1px;
      a {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border-radius: 3px;

        &.skin_1{
          background: #dadada;
          border: 1px solid #c7c7c7;
        }
        &.skin_2{
          background: #dadada;
          border: 1px solid #c7c7c7;
        }
        &.skin_3{
          background: #dadada;
          border: 1px solid #c7c7c7;
        }
        &.skin_4{
          background: #dadada;
          border: 1px solid #c7c7c7;
        }
      }
    }

    .sidebar_switcher {
      color: #cecece;
      .fa-toggle-off{
        display: none;
      }
      .fa-toggle-on{
        display: block;
      }
    }
  }
  /* logo */
  .logo {
    margin-bottom: 50px;

    .logo_img {
      display: block;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    .blog_name {
      padding: 0 15px;
      line-height: 1.5;
      color: #9c9c9c;
    }
  }
  /* menu */
  .menu {
    .menu-wrapper {
      .list {
        .menu-item {
          list-style: none;
          text-align: center;

          a {
            display: block;
            font-size: 14px;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              color: #02b875;
              background: #f7f7f7;
            }
          }

          &.current-menu-item {
            a {
              color: #02b875;
              background: #efefef;
            }
          }

          &.menu-item-has-children {
            position: relative;

            &:hover .sub-menu {
              display: block !important;
            }

            .sub-menu {
              position: absolute;
              z-index: 3;
              top: 0;
              left: $header_w - 1px;
              width: $header_w * 2 / 3;
              display: none;
              padding: 5px 0;
              background: #fff;
              border: 1px solid #e5e5e5;

              .menu-item {
                text-align: left;
                a {
                  font-size: 12px;
                  padding: 8px 0 8px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* sidebar */

#sidebar {
  position: fixed;
  left: $header_w;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: $header_w;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;

  .topbar {
    height: $topbar_h;
    line-height: $topbar_h;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    .widget_btn {
      width: 50%;
      height: $topbar_h;
      line-height: $topbar_h;

      &.on{
        color: #02b875;
        border-bottom: 1px solid #02b875;
      }
    }
  }

  .sidebar_inner {
    height: 100%;
    width: $header_w + 35px;
    padding: 10px 30px 50px 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    aside{
      margin-bottom: 30px;
    }

    .widget-title{
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 10px;
      padding-bottom: 5px;
      color: #444;
      border-bottom: 1px solid #e5e5e5;
      span{
        padding-bottom: 5px;
        border-bottom: 1px solid #444;
      }
    }
  }
}
/* content */

#content {
  position: relative;
  padding-left: $header_w * 2;

  .topbar{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    height: $topbar_h;
    line-height: $topbar_h;
    padding: 0 20px 0 $header_w * 2 + 20px;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    .breadcrumbs{

    }
    .layouts{
      margin-top: 8px;
      span{
        height: 8px;
        margin-bottom: 2px;
        border-radius: 2px;
        background: #bbbbbb;
      }
      .layout_width{
        display: inline-block;
        margin-right: 10px;
        width: 18px;
        span{
          display: block;
          width: 18px;
        }
      }
      .layout_box{
        display: inline-block;
        width: 20px;
        span{
          display: inline-block;
          float: left;
          width: 8px;
        }
      }
    }
  }
  .content_inner {
    padding: 50px 20px 200px;
  }
}
/* footer */

#footer {}
