@charset "UTF-8";
/* base */
$header_w: 245px;
$topbar_h: 35px;

/* wrapper */
#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  min-width: 1000px;
  background: url('./images/default/bg1.jpg') no-repeat top left fixed;
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: $header_w;
  height: 100%;

  .header_inner{

  }

  /* topbar */
  .topbar {
    height: $topbar_h;
    margin-bottom: 30px;
    padding: 5px;
    background: #888;
    .skin {
      a {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        border-radius: 5px;
        background: #666;
      }
    }

    .sidebar_switcher {
      width: 50px;
      height: 25px;
      border-radius: 25px;
      background: #333;
      &.on{
        background: #444;
      }
    }
  }

  /* logo */
  .logo {
    margin-bottom: 30px;
    .logo_img {
      display: block;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    .blog_name {
      padding: 0 15px;
    }
  }

  /* menu */
  .menu {
    .wrapper {
      padding: 0 20px;
      .list {
        .menu-item {
          list-style: none;
          font-size: 18px;
          text-align: center;
          padding: 0 20px;
          &.menu-item-has-children {}
        }
      }
    }
  }
}

/* sidebar */
#sidebar {
  position: fixed;
  left: $header_w;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: $header_w;
  height: 100%;

  .sidebar_inner{

  }
}

/* content */
#content {
  position: relative;
  padding-left: $header_w * 2;
  .content_inner{

  }
}

/* footer */
#footer {}
