@charset "UTF-8";
/* base */
$header_w: 235px;
$topbar_h: 35px;
$slider_h: 300px;
/* wrapper */

#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  background: #fff;
  color: #777777;

  a {
    color: #9c9c9c;

    &:hover {
      color: #444;
    }
  }
}
/* header */

#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: $header_w;
  height: 100%;
  border-right: 1px solid #e5e5e5;

  .header_inner {}
  /* topbar */
  .topbar {
    height: $topbar_h;
    margin-bottom: 30px;
    padding: 8px 5px 0;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;

    .skin {
      margin-top: 1px;

      a {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border-radius: 3px;

        &.skin_1 {
          background: #dadada;
          border: 1px solid #c7c7c7;
        }

        &.skin_2 {
          background: #dadada;
          border: 1px solid #c7c7c7;
        }

        &.skin_3 {
          background: #dadada;
          border: 1px solid #c7c7c7;
        }

        &.skin_4 {
          background: #dadada;
          border: 1px solid #c7c7c7;
        }
      }
    }

    .setting {
      display: inline-block;
      color: #cecece;
    }
  }
  /* logo */
  .logo {
    margin-bottom: 50px;

    .logo_img {
      display: block;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    .blog_name {
      padding: 0 15px;
      line-height: 1.5;
      color: #9c9c9c;
    }
  }
  /* menu */
  .menu {
    .menu-wrapper {
      .list {
        .menu-item {
          list-style: none;
          text-align: center;

          a {
            display: block;
            font-size: 14px;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              color: #02b875;
              background: #f7f7f7;
            }
          }

          &.current-menu-item {
            a {
              color: #02b875;
              background: #efefef;
            }
          }

          &.menu-item-has-children {
            position: relative;

            &:hover .sub-menu {
              display: block !important;
            }

            .sub-menu {
              position: absolute;
              z-index: 3;
              top: 0;
              left: $header_w - 1px;
              width: $header_w * 2 / 3;
              display: none;
              padding: 5px 0;
              background: #fff;
              border: 1px solid #e5e5e5;

              .menu-item {
                text-align: left;

                a {
                  font-size: 12px;
                  padding: 8px 0 8px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* sidebar */

#sidebar {
  position: fixed;
  left: $header_w;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: $header_w;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;

  .topbar {
    height: $topbar_h;
    line-height: $topbar_h;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;

    .widget_btn {
      width: 50%;
      height: $topbar_h;
      line-height: $topbar_h;

      &.on {
        color: #02b875;
        border-bottom: 1px solid #02b875;
      }
    }
  }

  .sidebar_inner {
    height: 100%;
    width: $header_w + 35px;
    padding: 20px 30px 50px 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    aside {
      margin-bottom: 30px;

      & > ul {
        li {
          padding-bottom: 5px;
          margin-bottom: 5px;
          line-height: 20px;

          &:before {
            font-family: FontAwesome;
            margin-right: 5px;
          }
        }
      }

      .comm_posts,
      .new-posts {
        li {
          &:before {
            font-family: FontAwesome;
            margin-right: 5px;
          }
        }
      }
    }

    .comm_posts,
    .new-posts,
    .widget_pages,
    .widget_recent_entries {
      li {
        &:before {
          content: "\f0f6";
        }
      }
    }

    .widget_archive {
      li {
        &:before {
          content: "\f115";
        }
      }
    }

    .widget_links {
      li {
        &:before {
          content: "\f0c1";
        }
      }
    }

    .widget_categories {
      li {
        &:before {
          content: "\f097";
        }
      }
    }

    .cs_widget_link a {
      display: block;
      text-align: center;
    }

    .cs_widget_comment {
      #comment-list {
        li {
          padding-bottom: 5px;
          margin-bottom: 10px;

          a {
            line-height: 16px;

            .s_name {
              display: block;
            }

            .s_desc {
              display: block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
            }
          }

          .avatar-box {
            width: 32px;
            border-radius: 20px;
            overflow: hidden;
            opacity: 0.75;
            background: #f7f7f7;

            img {
              vertical-align: top;
              width: 32px;
              height: 32px;
            }
          }

          .comment_box {
            padding-left: 5px;
          }
        }
      }
    }

    .widget_search {
      fieldset {
        .search-form-input {
          padding: 7px 8px;
          font-size: 12px;
          vertical-align: middle;
          height: 26px;
          line-height: 26px;
          width: 100%;
          border-radius: 3px;
          color: #808080;
          border: 1px solid #ddd;
        }

        .search-button {
          display: none;
        }
      }
    }

    .widget_calendar {
      #wp-calendar {
        margin: 0;
        width: 100%;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;

        #today,
        th {
          text-align: center;
          font-weight: normal;
        }

        td {
          text-align: center;

          &#prev {
            text-align: left;
            padding-left: 10px;
          }

          &#next {
            text-align: right;
            padding-right: 10px;
          }
        }

        caption {
          letter-spacing: -0.05em;
          font-size: 100%;
          text-align: left;
          padding-bottom: 5px;
        }
      }
    }

    .widget_tag_cloud {
      .tagcloud {
        &:after {
          clear: both;
          display: block;
          content: '';
        }

        a {
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }

    #profile{
      .profile-header{
        margin-bottom: 10px;
        .avatar{
          width: 20%;
          img{
            vertical-align: bottom;
            border-radius: 5px;
          }
        }
        .name{
          width: 80%;
          padding: 3px 0 0 10px;
          .name_inner{
            margin-bottom: 6px;
            color: #444;
          }
          .fa-check-circle{
            color: #bbb;
          }
        }
      }
      .profile-content{
        line-height: 1.5;
        margin-bottom: 15px;
      }
      .profile-social{
        li{
          list-style: none;
          float: left;
          width: 20%;
          height: 20px;
          line-height: 20px;
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .widget-title {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 15px;
      padding-bottom: 5px;
      color: #444;
      border-bottom: 1px solid #e5e5e5;

      span {
        padding-bottom: 5px;
        border-bottom: 1px solid #444;
      }
    }
  }
}
/* content */

#content {
  position: relative;
  padding-left: $header_w * 2;
  max-width: 2000px;

  .topbar {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    height: $topbar_h;
    max-width: 2000px;
    line-height: $topbar_h;
    padding: 0 20px 0 $header_w * 2 + 20px;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;

    .notices {}

    .layouts {
      margin-top: 8px;

      span {
        height: 8px;
        margin-bottom: 2px;
        border-radius: 2px;
        background: #bbbbbb;
      }

      .layout_width {
        display: inline-block;
        margin-right: 10px;
        width: 18px;

        span {
          display: block;
          width: 18px;
        }
      }

      .layout_box {
        display: inline-block;
        width: 20px;

        span {
          display: inline-block;
          float: left;
          width: 8px;
        }
      }
    }
  }

  .content_inner {
    padding: 50px 20px 200px;
    .slider{
      height: $slider_h;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }
}
/* footer */

#footer {}
