@charset "UTF-8";
/* content */

#content {
  position: relative;
  padding-left: $header_w * 2;
  max-width: 2000px;
  padding-top: $topbar_h;

  .content_inner {
    padding: 20px 20px 100px;
    .content_header{
      margin-bottom: 30px;
      .header_left{
        width: 70%;
      }
      .header_right{
        width: 30%;
        padding-left: 15px;
      }
      .unslider{
        position: relative;
        .unslider-arrow{
          opacity: .5;
          position: absolute;
          z-index: 9;
          top: 50%;
          width: 30px;
          height: 50px;
          font-size: 20px;
          line-height: 50px;
          margin-top: -25px;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          &:hover{
            opacity: 1;
          }
          &.next{
            left: 0;
            right: auto;
          }
          &.prev{
            left: auto;
            right: 0;
          }
        }
      }
      .sliderWrap{
        height: $slider_h;
        width: 100%;
        overflow: hidden;
        z-index: 8;
        a {
          position: relative;
          display: block;
          width: 100%;
          height: $slider_h;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          p{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            line-height: 70px;
            padding: 0 15px;
          }
        }
      }
      .featured{
        li{
          display: block;
          width: 100%;
          height: ($slider_h - 15px) / 2;
          overflow: hidden;
          &:first-child{
            margin-bottom: 15px;
          }
          &:nth-child(3n + 0){
            display: none;
          }
          a{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            p{
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 50px;
              line-height: 70px;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
