@charset "UTF-8";

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 92;
  width: $header_w;
  height: 100%;

  .header_inner {}
  /* topbar */
  .topbar {
    height: $topbar_h;
    margin-bottom: 30px;
    padding: 8px 10px 0;

    .skin {
      margin-top: 1px;

      a {
        display: inline-block;
        width: 35px;
        height: 18px;
        border-radius: 20px;

        &.skin01 {
          background: #dadada;
          border: 1px solid #c7c7c7;
        }

        &.skin02 {
          background: #dadada;
          border: 1px solid #c7c7c7;
          box-shadow: 0 1px 0px #ffffff;
          &::before{
            content: "";
            display: inline-block;
            width: 16px;
            height: 14px;
            margin: 1px 0 0 2px;
            border-radius: 20px;
            border: 1px solid #cecece;
            background: #f9f9f9;
            box-shadow: 0 1px 0px #ffffff inset;
          }
        }
      }
    }

    .setting {
      position: relative;
      display: inline-block;
      .icon-cog{

      }
      .setting-pop{
        position: absolute;
        top: $topbar_h + 5px;
        left: -10px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid rgba(27,31,35,0.15);
        box-shadow: 0 3px 12px rgba(27,31,35,0.15);
        &::before{
          position: absolute;
          top: -16px;
          left: 9px;
          display: inline-block;
          content: "";
          border: 8px solid transparent;
          border-bottom-color: rgba(27,31,35,0.15);
        }
        &::after{
          position: absolute;
          top: -14px;
          left: 10px;
          display: inline-block;
          content: "";
          border: 7px solid transparent;
          border-bottom-color: #fff;
        }
      }
      #login-form{
        width: 200px;
        padding: 10px;
        font-size: 12px;
        p{
          margin-bottom: 15px;
          label{
            display: none;
          }
          .input{
            width: 100%;
            height: 25px;
            line-height: 25px;
            padding: 0 5px;
            border: 1px solid #ddd;
            border-radius: 3px;
          }
          #wp-submit{
            width: 100%;
            height: 25px;
            line-height: 25px;
            border-radius: 3px;
            border: none;
          }
        }
      }
      .setting-bottom{
        padding: 0 10px 10px;
        font-size: 12px;
      }
      .admin-list{
        width: 140px;
        padding: 5px 0;
        a{
          display: block;
          padding: 6px 10px 6px 15px;
          &:hover{

          }
        }
      }
    }
  }
  /* logo */
  .logo {
    margin-bottom: 50px;

    .logo_img {
      display: block;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    .blog_name {
      padding: 0 15px;
      line-height: 1.5;
    }
  }
  /* menu */
  .menu {
    .menu-wrapper {
      .list {
        .menu-item {
          list-style: none;
          text-align: center;

          a {
            display: block;
            font-size: 14px;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {

            }
          }

          &.current-menu-item {
            a {

            }
          }

          &.menu-item-has-children {
            position: relative;

            &:hover .sub-menu {
              display: block !important;
            }

            .sub-menu {
              position: absolute;
              z-index: 3;
              top: 0;
              left: $header_w - 1px;
              width: $header_w * 2 / 3;
              display: none;
              padding: 5px 0;

              .menu-item {
                text-align: left;

                a {
                  font-size: 12px;
                  padding: 8px 0 8px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
