@charset "UTF-8";

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 92;
  width: $header_w;
  height: 100%;
  padding-top: $topbar_h;

  .header_inner {
    padding: 20px 0 0;
  }

  /* logo */
  .logo {
    margin-bottom: 50px;

    .logo_img {
      display: block;
      margin-bottom: 20px;
      padding: 0 40px;
    }

    .blog_name {
      padding: 0 15px;
      line-height: 1.5;
    }
  }
  /* menu */
  .menu {
    .menu-wrapper {
      .list {
        .menu-item {
          list-style: none;
          text-align: center;

          a {
            display: block;
            font-size: 14px;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {

            }
          }

          &.current-menu-item {
            a {

            }
          }

          &.menu-item-has-children {
            position: relative;

            &:hover .sub-menu {
              display: block !important;
            }

            .sub-menu {
              position: absolute;
              z-index: 3;
              top: 0;
              left: $header_w - 1px;
              width: $header_w * 2 / 3;
              display: none;
              padding: 5px 0;

              .menu-item {
                text-align: left;

                a {
                  font-size: 12px;
                  padding: 8px 0 8px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
