@charset "UTF-8";
/* layout */

#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  font-size: 14px;

  &::after{
    content: "";
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1000px;
    height: 100%;
  }

  &.layout_box{
    .posts article.index-post{
      width: 49%;
      float: left;
      &:nth-of-type(odd){
        margin-right: 2%;
      }
      .post-left{
        width: $featured_w - 30px;
      }
      .meta-tabs, .mate-cat{
        display: none;
      }
    }
  }

  &.sidebar_off{
    .sidebar_switcher{
      left: $header_w - 1px;
      .fa-angle-left{
        display: none;
      }
      .fa-angle-right{
        display: inline-block;
      }
    }
    #sidebar, #topbar .item2{
      display: none;
    }
    #content{
      padding-left: $header_w;
    }
    #topbar .item3, #footer{
      padding-left: $header_w + 20px;
    }
  }
}

#topbar{
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 2000px;
  height: $topbar_h;
  line-height: $topbar_h;
  &::before{
    content: "";
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    height: $topbar_h;
    width: 100%;
  }
  .item1{
    width: $header_w;
    height: 100%;
    padding: 0 10px 0;

    .skin {
      margin-top: 1px;

      a {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 18px;
        margin-top: 8px;
        border-radius: 20px;

        &.skin01 {
          background: #dadada;
          border: 1px solid #c7c7c7;
          box-shadow: 0 1px 0px #ffffff;
          &::before{
            position: absolute;
            left: 2px;
            top: 1px;
            content: "";
            display: inline-block;
            width: 16px;
            height: 14px;
            border-radius: 20px;
            border: 1px solid #cecece;
            background: #f9f9f9;
            box-shadow: 0 1px 0px #ffffff inset;
          }
        }

        &.skin02 {
          background: #dadada;
          border: 1px solid #c7c7c7;
          box-shadow: 0 1px 0px #ffffff;
          &::before{
            position: absolute;
            right: 2px;
            top: 1px;
            content: "";
            display: inline-block;
            width: 16px;
            height: 14px;
            border-radius: 20px;
            border: 1px solid #cecece;
            background: #f9f9f9;
            box-shadow: 0 1px 0px #ffffff inset;
          }
        }
      }
    }

    .setting {
      position: relative;
      display: inline-block;
      .setting-pop{
        position: absolute;
        top: $topbar_h + 5px;
        left: -10px;
        line-height: 1.2;
        border-radius: 4px;
        &::before{
          position: absolute;
          top: -16px;
          left: 9px;
          display: inline-block;
          content: "";
        }
        &::after{
          position: absolute;
          top: -14px;
          left: 10px;
          display: inline-block;
          content: "";
        }
      }
      #login-form{
        width: 200px;
        padding: 10px;
        font-size: 12px;
        p{
          margin-bottom: 15px;
          label{
            display: none;
          }
          .input{
            width: 100%;
            height: 25px;
            line-height: 25px;
            padding: 0 5px;
            border-radius: 3px;
          }
          #wp-submit{
            width: 100%;
            height: 25px;
            line-height: 25px;
            border-radius: 3px;
            border: none;
          }
        }
      }
      .setting-bottom{
        padding: 0 10px 10px;
        font-size: 12px;
      }
      .admin-list{
        width: 140px;
        padding: 5px 0;
        a{
          display: block;
          padding: 6px 10px 6px 15px;
        }
      }
    }
  }
  .item2{
    width: $header_w;
    height: $topbar_h;
    line-height: $topbar_h;

    .widget_btn {
      width: 50%;
      height: $topbar_h;
      line-height: $topbar_h;
      padding: 0 5px;
      &.on {
        position: relative;
        &::before{
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 0;
        }
      }
    }
  }
  .item3{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: $header_w * 2 + 20px;
    padding-right: 20px;
    .fa-bell-o{
      margin: 10px 10px 0 0;
    }
    .notices {}

    .layouts {
      margin-top: 8px;

      span {
        height: 8px;
        margin-bottom: 2px;
        border-radius: 2px;
      }

      .layout_width {
        display: inline-block;
        margin-right: 10px;
        width: 18px;

        span {
          display: block;
          width: 18px;
        }
      }

      .layout_box {
        display: inline-block;
        width: 20px;

        span {
          display: inline-block;
          float: left;
          width: 8px;
        }
      }
    }
  }
}
