@charset "UTF-8";
/* layout */

#wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  font-size: 14px;

  &.layout_box{
    .posts article.index-post{
      width: 49%;
      float: left;
      &:nth-of-type(odd){
        margin-right: 2%;
      }
      .meta-tabs, .mate-cat{
        display: none;
      }
    }
  }
}
