@charset "UTF-8"; // mobile

.mobile {
  .m_hide {
    display: none !important;
  }

  #content {
    padding-top: 50px;
    padding-left: 0 !important;
    .content_inner{
      padding: 10px 10px 50px;
    }
    article {
      width: auto !important;
      margin-right: auto !important;
      padding: 10px 10px 40px;
      .post-right{
        padding: 0 !important;
        .post-title{
          overflow: visible;
          text-overflow: inherit;
          white-space: inherit;
        }
      }
    }
  }

  #m-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;

    .m-back {
      font-size: 18px;
      text-align: center;
      width: 30px;
    }

    .m-logo {
      font-size: 16px;
      padding: 0 15px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .m-menu {
      font-size: 18px;
      text-align: center;
      width: 30px;
    }
  }

  #m-menu {
    position: fixed;
    z-index: 11;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &.open {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .menu-tab {
    font-size: 16px;
    height: 50px;
    line-height: 50px;

    .menu-tab-item {
      display: inline-block;
      width: 40%;
      text-align: center;
    }

    .m-menu-close {
      display: block;
      width: 100%;
      padding-right: 20px;
      text-align: right;
    }
  }

  .menu-content {
    a {
      display: block;
      font-size: 16px;
      padding: 10px;
      .fa {
        margin-right: 5px;
      }
    }
  }

  .link_box .blogroll li{
    width: 100%;
  }
  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    width: 100% !important;
    padding-right: 0 !important;
  }
}
