@charset "UTF-8";
/* pages */

// 归档
.timeline{
  .tl-item{
    list-style: none;
    margin-bottom: 20px;
    padding-left: 15px;
    margin-left: -1px;
  }
}

// 留言
.readers-list {
  li {
    list-style: none;
    display: inline-block;
    width: 20%;
    padding: 5px;
    .readers-inner {
      padding: 5px;
      overflow: hidden;
      .avatar-img {
        width: 40px;
        height: 40px;
        .avatar {
          border-radius: 3px;
          width: 40px;
          height: 40px;
        }
      }
      .avatar-msg {
        padding-left: 5px;
        width: 85px;
        p {
          font-size: 13px;
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }
    }
  }
}

//邻居
.link_box {
  .linkcat {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 16px;
      text-align: left;
    }
    ul {
      text-align: left;
    }
  }

  .blogroll {
    &::after {
      clear: both;
      display: block;
      content: " ";
    }

    li {
      display: inline-block;
      width: 25%;
      padding: 0 10px;
      margin-bottom: 15px;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      img {
        float: left;
        margin: 9px 5px 0 0;
        width: 15px;
        height: 15px;
      }
    }
  }
}
