@charset "UTF-8"; /* plugins */
//tooltip

#mouse-tooltip {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mouse-tooltip {
  max-width: 300px;
  font-size: small;
  padding: 8px 12px;
  line-height: 1.5;
  border-radius: 5px;
}

.mouse-tooltip--hidden {
  display: none !important;
}
// unslider

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.unslider-wrap {
  position: relative;
}

.unslider-wrap.unslider-carousel > li {
  float: left;
}

.unslider-vertical > ul {
  height: 100%;
}

.unslider-vertical li {
  float: none;
  width: 100%;
}

.unslider-fade {
  position: relative;
}

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}

.unslider li,
.unslider ol,
.unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

.unslider-arrow.next {
  left: auto;
  right: 20px;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: 0 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
//loading bar

.ajax_load .loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 800;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  display: block;
  -webkit-animation: shift-rightwards 1s ease-in-out infinite;
  -moz-animation: shift-rightwards 1s ease-in-out infinite;
  -ms-animation: shift-rightwards 1s ease-in-out infinite;
  -o-animation: shift-rightwards 1s ease-in-out infinite;
  animation: shift-rightwards 1s ease-in-out infinite;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
//ityped

.ityped-cursor {
  font-size: 16px;
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
//评论审核

#awaiting_comments {
  position: fixed;
  top: 65px;
  right: 24px;
  z-index: 9999;
  max-width: 180px;
  _width: 130px;
  display: block;
  float: none;
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  .fa {
    margin-right: 7px;
  }

  a {
    color: #d32;
    font-size: 14px;
    text-decoration: none;
  }
}
//播放器

.audio-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .mejs-container {
    height: 100% !important;
    overflow: hidden;
    background: transparent;

    .mejs-inner {
      height: 100%;
    }

    .mejs-controls {
      position: relative;
      background: transparent;
      height: 100%;

      .mejs-pause,
      .mejs-play {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;

        button {
          height: 50px;
          width: 50px;
          line-height: 50px;
          margin: 0;
          background: none;
          font-family: FontAwesome;

          &:focus {
            outline: none;
          }
        }
      }

      .mejs-play {
        button {
          &:before {
            color: rgba(255, 255, 255, 0.9);
            content: "\f144";
            font-size: 50px;
            line-height: 50px;
          }
        }
      }

      .mejs-pause {
        button {
          &:before {
            color: rgba(255, 255, 255, 0.6);
            content: "\f04c";
            font-size: 40px;
            line-height: 50px;
          }
        }
      }

      .mejs-time-rail {
        position: absolute;
        top: 0;
		left: 0;
		margin: 0;
        height: 5px;
        width: 100% !important;

        .mejs-time-total {
          position: absolute;
          top: 0;
          margin: 0;
          height: 5px;
          border-radius: 0;
          width: 100% !important;
          background: rgba(0, 0, 0, 0.2);

          .mejs-time-loaded {
            height: 5px;
            border-radius: 0;
            background: #A7A7A7;
          }

          .mejs-time-current {
            height: 5px;
            border-radius: 0;
            background: #3caac8;
          }
        }
      }

	  .mejs-horizontal-volume-slider,
      .mejs-mute,
      .mejs-time,
      .mejs-time-float {
        display: none !important;
      }
    }
  }
}

//公告
.notice-pop {
  position: fixed;
  z-index: 99;
  width: 340px;
  height: 90px;
  bottom: 100px;
  left: 50%;
  margin-left: -170px;
  background: #000;
  background: hsla(0,0%,7%,.85);
  box-shadow: 0 0 5px 0 hsla(0,0%,7%,.35);
  border-radius: 45px;
  visibility: visibility;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;

  &.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .notice-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 13px 0 0 13px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .notice-txt {
    width: 220px;
    margin: 13px 0 0 13px;
    .notice-title {
      color: #fff;
      font-size: 13px;
      margin-bottom: 5px;
    }

    .notice-content {
      color: #999;
      font-size: 12px;
      max-height: 25px;
      margin-bottom: 10px;
      overflow: hidden;
    }
  }

  .notice-btn {
    a {
      color: #fff;
      margin-right: 15px;
    }
  }
}

//下载盒子
.download-wrap {
  margin: 30px 0;
  .post-download{
    padding: 10px;
    .fa{
      margin-right: 10px;
    }
    p{
      height: 30px;
      line-height: 30px;
    }
    .link{
      display: inline-block;
    }
    .reply{
      display: none;
    }
  }
  .dlview {
    .link{
      display: none;
    }
    .reply{
      display: inline-block;
    }
  }
}
