@charset "UTF-8"; /* plugins */
//tooltip

#mouse-tooltip {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mouse-tooltip {
  max-width: 300px;
  font-size: small;
  padding: 8px 12px;
  color: #fff;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.mouse-tooltip--hidden {
  display: none !important;
}
// unslider

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.unslider-wrap {
  position: relative;
}

.unslider-wrap.unslider-carousel > li {
  float: left;
}

.unslider-vertical > ul {
  height: 100%;
}

.unslider-vertical li {
  float: none;
  width: 100%;
}

.unslider-fade {
  position: relative;
}

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}

.unslider li,
.unslider ol,
.unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

.unslider-arrow.next {
  left: auto;
  right: 20px;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: 0 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
//loading bar

.ajax_load .loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 800;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  display: block;
  -webkit-animation: shift-rightwards 1s ease-in-out infinite;
  -moz-animation: shift-rightwards 1s ease-in-out infinite;
  -ms-animation: shift-rightwards 1s ease-in-out infinite;
  -o-animation: shift-rightwards 1s ease-in-out infinite;
  animation: shift-rightwards 1s ease-in-out infinite;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes shift-rightwards {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  60% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
//ityped

.ityped-cursor {
  font-size: 16px;
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
//评论审核

#awaiting_comments {
  position: fixed;
  top: 65px;
  right: 24px;
  z-index: 9999;
  max-width: 180px;
  _width: 130px;
  display: block;
  float: none;
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  .fa {
    margin-right: 7px;
  }

  a {
    color: #d32;
    font-size: 14px;
    text-decoration: none;
  }
}
//播放器

.audio-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .mejs-container {
    height: 100% !important;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);

    .mejs-inner {
      height: 100%;
    }

    .mejs-controls {
      position: relative;
      background: transparent;
      height: 100%;

      .mejs-pause,
      .mejs-play {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;

        button {
          height: 50px;
          width: 50px;
          line-height: 50px;
          margin: 0;
          background: none;
          font-family: FontAwesome;

          &:focus {
            outline: none;
          }
        }
      }

      .mejs-play {
        button {
          &:before {
            color: rgba(255, 255, 255, 0.75);
            content: "\f144";
            font-size: 60px;
            line-height: 60px;
          }
        }
      }

      .mejs-pause {
        button {
          &:before {
            color: rgba(255, 255, 255, 0.6);
            content: "\f04c";
            font-size: 40px;
            line-height: 50px;
          }
        }
      }

      .mejs-time-rail {
        position: absolute;
        top: 0;
        height: 5px;
        width: 100% !important;

        .mejs-time-total {
          position: absolute;
          top: 0;
          margin: 0;
          height: 5px;
          border-radius: 0;
          width: 100% !important;
          background: rgba(0, 0, 0, 0.2);

          .mejs-time-loaded {
            height: 5px;
            border-radius: 0;
            background: #A7A7A7;
          }

          .mejs-time-current {
            height: 5px;
            border-radius: 0;
            background: #3caac8;
          }
        }
      }

      .mejs-mute,
      .mejs-time,
      .mejs-time-float {
        display: none !important;
      }
    }
  }
}

//评论
.comments{
  .comments-title{

  }
}

#comment-nav-below {
  text-align: center;
  margin: 30px 0;
}

#commentform {
  position: relative;
  margin-bottom: 30px;

  input,
  textarea {
    -webkit-appearance: none;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .comment-notes,
  label {
    display: none;
  }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 33.33%;
    float: left;
    margin-bottom: 15px;
    padding-right: 2%;

    &::before {
      position: absolute;
      font-family: FontAwesome;
      padding-left: 10px;
      height: 38px;
      line-height: 38px;
    }

    input {
      width: 100%;
      height: 36px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 5px 10px 5px 30px;
    }
  }

  .comment-form-url {
    margin-right: 0;
    padding-right: 0;
  }

  .comment-form-author:before {
    content: "\f007";
  }

  .comment-form-email:before {
    content: "\f0e0";
  }

  .comment-form-url:before {
    content: "\f0ac";
  }

  .comment-form-comment {
    position: relative;
    z-index: 1;
    margin-bottom: 0;

    #comment {
      width: 100%;
      padding: 10px 10px 40px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

    #error,
    #loading {
      position: absolute;
      bottom: -20px;
    }
  }

  .commentPlus {
    position: absolute;
    z-index: 3;
    bottom: 5px;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;

    .editor {
      display: inline-block;
      float: left;
      width: 36px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .form-submit {
    position: absolute;
    z-index: 3;
    margin: 0;
    right: 1px;
    bottom: 6px;
    display: inline-block;
    float: right;

    #submit {
      width: 100%;
      text-align: center;
      font-size: 14px;
      border-bottom-right-radius: 2px;
      cursor: pointer;
      height: 38px;
      line-height: 38px;
      display: block;
      padding: 0 20px;
      outline: 0;
    }
  }

  .comment-form-smilies {
    position: absolute !important;
    bottom: 35px;
    left: 10px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.9);

    a {
      display: inline-block;
      float: left;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin: 3px;
    }
  }
}

//评论展示

.commentlist {
  .comment {
    list-style: none;

    .children {
      padding-left: 15px;
    }

    .success_tip {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}

.comment-block {
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);

  .comment-header {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;

    .author-img {
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
      border-radius: 50%;
      background: url('./images/default/d_avatar.jpg') no-repeat;
      background-size: cover;

      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
      }
    }

    .author-name {}

    .comment-count {}
  }

  .comment-body {
    min-height: 50px;
    padding: 15px;
    font-size: 13px;
    line-height: 2;
  }

  .comment-bottom {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    span {
      margin-right: 10px;
    }
  }
}

//归档
.timeline {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 3px;
  }
  .tl-item {
    list-style: none;
    position: relative;
    margin: 15px 0;
    &::before {
      position: absolute;
      left: -23px;
      top: 10px;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 9px;
    }
    &::after {
      position: absolute;
      left: -21px;
      top: 12px;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 5px;
    }
  }
  .tl-wrap {
    .tl-content {}
    .tl-date {
      width: 125px;
      margin-right: 10px;
    }
  }
}

//归档
