@charset "UTF-8";
/* 淡雅 */
@import 'mixin';

.skin02 {
  display: none !important;
}

$bg_body: #f4f4f4; // 背景色
$bg_block: #fff; // 块背景色
$bd_c: #e5e5e5; // 描边色
$text_c0: #999; // 文本色0
$text_c1: #888; // 文本色1
$text_c2: #777; // 文本色2
$text_c3: #666; // 文本色3
$text_c4: #bbb; // 文本色4
$link_c: #888; // 链接色
$link_c_h: #02b875; // 链接悬停色
$hold_c: #ececec; // 占位色
$text_block: #f6f8fa; // 文本块

body {
  color: $text_c1;
  background: $bg_body;
}

a {
  color: $link_c;
  &:hover {
    color: $link_c_h;
  }
}

#wrapper {
  background: $bg_body;
}

.main-title,
.widget-title {
  color: $text_c3;
  border-bottom: 1px solid $bd_c;
  span {
    border-bottom: 1px solid $link_c_h;
  }
}

.mouse-tooltip {
  color: $text_c2;
  background: $bg_block;
  border: 1px solid $bd_c;
}

.avatar-img,
.bg-img {
  background-color: $hold_c;
}

#topbar {
  background: $bg_block;
  border-bottom: 1px solid $bd_c;
  .item1 {
    border-right: 1px solid $bd_c;
    .fa {
      color: $text_c4;
    }
    .setting-pop {
      background: $bg_block;
      border: 1px solid rgba(27,31,35,0.15);
      box-shadow: 0 1px 5px rgba(27,31,35,0.15);
      &::before {
        border: 8px solid transparent;
        border-bottom-color: rgba(27,31,35,0.15);
      }
      &::after {
        border: 7px solid transparent;
        border-bottom-color: $bg_block;
      }
      .admin-list{
        a:hover{
          color: $bg_block;
          background: $link_c_h;
        }
      }
    }

    #login-form {
      .input {
        border: 1px solid $bd_c;
      }
      #wp-submit {
        color: $bg_block;
        border: 1px solid $link_c_h;
        background: $link_c_h;
      }
    }
  }

  .item2 {
    border-right: 1px solid $bd_c;
    .widget_btn {
      color: $text_c0;
      &:hover {
        color: $link_c_h;
      }
      &.on {
        color: $link_c_h;
        border-bottom: 1px solid $link_c_h;
        &::before {
          margin-left: -3px;
          border-right: 5px solid transparent;
          border-bottom: 3px solid $link_c_h;
          border-left: 5px solid transparent;
        }
      }
    }
  }

  .item3 {
    .fa {
      color: $text_c4;
    }
    .notices {
      color: $text_c0;
    }
    .layouts {
      span {
        background: $text_c4;
      }
      a:hover span {
        background: $link_c_h;
      }
    }
  }
}

#header {
  background: $bg_block;
  border-right: 1px solid $bd_c;
  .blog_name {
    color: $text_c0;
  }
  .sub-menu {
    background: $bg_block;
    border: 1px solid $bd_c;
  }
  .current_page_item a,
  .menu-item a:hover {
    color: $link_c_h;
    background: $bg_body;
  }
}

#sidebar {
  background: $bg_block;
  border-right: 1px solid $bd_c;
  #profile {
    .name {
      color: $text_c0;
      .name_inner {
        color: $text_c3;
      }
      .fa {
        color: $link_c_h;
      }
    }
    .profile-content {
      color: $text_c1;
    }
  }
  .search-form-input {
    border: 1px solid $bd_c;
  }
}

.sidebar_switcher {
  .sidebar_switcher_inner{
    color: $text_c4;
    background: $bg_block;
    border: 1px solid $bd_c;
  }
}

#content {

}

.posts {
  article {
    background: $bg_block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    &.index-post {
      .post-content {
        color: $text_c0;
      }
    }
    &.single-post {
      .post-top {
        background: $text_block;
      }
      .post-title {
        border-bottom: 1px solid $bd_c;
      }
      .post-content{
        color: $text_c3;
      }
    }
    .post-sticky {
      color: $bg_block;
      background: $link_c_h;
    }
    .post-title a {
      color: $text_c3;
      &:hover {
        color: $link_c_h;
      }
    }
    h1,h2,h3,h4,h5{
      border-left: 2px solid $link_c_h;
      background: $text_block;
    }
    blockquote{
      border-left: 2px solid $link_c_h;
      background: $text_block;
    }
    .textload{
      background: $bg_block;
      p{
        background: $bg_body;
      }
    }
  }
  .ias-trigger a {
    background: $bg_block;
    border: 1px solid $bd_c;
  }
}

.page-numbers {
  background: $bg_block;
  border: 1px solid $bd_c;
  &.current,
  &:hover {
    color: $bg_block;
    background: $link_c_h;
  }
}

.post-download {
  color: $text_c3;
  border-left: 2px solid $link_c_h;
  background: $text_block;
  .link {
    color: $link_c_h;
  }
  .reply {
    color: red;
  }
}

#footer {
  .footer-inner {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    background: $bg_block;
  }
}

#m-header {
  background: $bg_block;
  border-bottom: 1px solid $bd_c;
}

#m-menu {
  background: $bg_block;
  border-left: 1px solid $bd_c;
}

.timeline {
  border-left: 1px solid $bd_c;
  .tl-item {
    border-left: 1px solid $link_c_h;
  }
}

.readers-list li {
  .readers-inner {
    border: 1px solid $bd_c;
  }
}

#comment-jump {
  #commentform {
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .fa {
      &::before {
        color: $text_c3;
      }
    }
    input[type="text"],
    textarea {
      background: $bg_block;
      border: 1px solid $bd_c;
    }
    .commentPlus {
      border-top: 1px solid $bd_c;
    }
    input[type=submit] {
      border: 1px solid $bd_c;
      color: $bg_block;
      background: $link_c_h;
      border: 1px solid $link_c_h;
    }
  }

  .comment-block {
    background: $bg_block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    .comment-header {
      border-bottom: 1px solid $bd_c;
      .author-name, .author-name a{
        color: $link_c_h;
      }
    }
    .comment-body a{
      color: $link_c_h;
    }
    .comment-bottom a {
      color: $text_c2;
    }
  }
}
