@charset "UTF-8";
/* 白色 */
@import 'mixin';

.skin01{
  display: none !important;
}

body{
  color: #888;
  background: #f4f4f4;
  a{
    color: #888;
    &:hover{
      color: #02b875;
    }
  }
}

#wrapper{
  background: #f4f4f4;
}

.main-title{
  color: #444;
  border-bottom: 1px solid #e5e5e5;
  span {
    border-bottom: 1px solid #02b875;
  }
}

.mouse-tooltip {
  color: #777;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.bg-img{
  background-color: #ececec;
}

#topbar{
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  .item1{
    border-right: 1px solid #e5e5e5;
    .fa{
      color: #bbbbbb;
    }
    .setting-pop{
      a{
        &:hover{
          color: #fff;
          background: #1d90e6;
        }
      }
    }
  }
  .item2{
    border-right: 1px solid #e5e5e5;
    .widget_btn{
      color: #999;
      &:hover{
        color: #444;
      }
      &.on{
        color: #02b875;
        border-bottom: 1px solid #02b875;
        &::before{
          margin-left: -3px;
          border-right: 5px solid transparent;
          border-bottom: 3px solid #02b875;
          border-left: 5px solid transparent;
        }
      }
    }
  }
  .item3{
    .fa{
      color: #bbbbbb;
    }
    .notice{
      color: #999;
    }
    .layouts{
      span{
        background: #bbbbbb;
      }
      a:hover span{
        background: #02b875;
      }
    }
  }
}

#header{
  background: #fff;
  border-right: 1px solid #e5e5e5;
  .blog_name {
    color: #999;
  }
  .sub-menu{
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .menu-item a:hover, .current_page_item a{
    color: #02b875;
    background: #f4f4f4;
  }
}

#sidebar{
  background: #fff;
  border-right: 1px solid #e5e5e5;
}

#content{

}

.posts{
  article{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }
}
