.butterBar {
  position: fixed;
  top: 65px;
  left: 50%;
  margin-left: -75px;
  z-index: 9999;
  min-width: 150px;
  display: block;
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #d32;
  font-size: 14px;
}

.butterBar .fa {
  margin-right: 7px;
}