@charset "UTF-8";
/* 淡雅 */
.skin02 { display: none !important; }

body { color: #888; background: #f4f4f4; }

a { color: #888; }
a:hover { color: #02b875; }

#wrapper { background: #f4f4f4; }

.main-title, .widget-title { color: #666; border-bottom: 1px solid #e5e5e5; }
.main-title span, .widget-title span { border-bottom: 1px solid #02b875; }

.mouse-tooltip { color: #777; background: #fff; border: 1px solid #e5e5e5; }

.avatar-img, .bg-img { background-color: #ececec; }

#topbar { background: #fff; border-bottom: 1px solid #e5e5e5; }
#topbar .item1 { border-right: 1px solid #e5e5e5; }
#topbar .item1 .fa { color: #bbb; }
#topbar .item1 .setting-pop { background: #fff; border: 1px solid rgba(27, 31, 35, 0.15); -webkit-box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15); box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15); }
#topbar .item1 .setting-pop::before { border: 8px solid transparent; border-bottom-color: rgba(27, 31, 35, 0.15); }
#topbar .item1 .setting-pop::after { border: 7px solid transparent; border-bottom-color: #fff; }
#topbar .item1 .setting-pop .admin-list a:hover { color: #fff; background: #02b875; }
#topbar .item1 #login-form .input { border: 1px solid #e5e5e5; }
#topbar .item1 #login-form #wp-submit { color: #fff; border: 1px solid #02b875; background: #02b875; }
#topbar .item2 { border-right: 1px solid #e5e5e5; }
#topbar .item2 .widget_btn { color: #999; }
#topbar .item2 .widget_btn:hover { color: #02b875; }
#topbar .item2 .widget_btn.on { color: #02b875; border-bottom: 1px solid #02b875; }
#topbar .item2 .widget_btn.on::before { margin-left: -3px; border-right: 5px solid transparent; border-bottom: 3px solid #02b875; border-left: 5px solid transparent; }
#topbar .item3 .fa { color: #bbb; }
#topbar .item3 .notices { color: #999; }
#topbar .item3 .layouts span { background: #bbb; }
#topbar .item3 .layouts a:hover span { background: #02b875; }

#header { background: #fff; border-right: 1px solid #e5e5e5; }
#header .blog_name { color: #999; }
#header .sub-menu { background: #fff; border: 1px solid #e5e5e5; }
#header .current_page_item a, #header .menu-item a:hover { color: #02b875; background: #f4f4f4; }

#sidebar { background: #fff; border-right: 1px solid #e5e5e5; }
#sidebar #profile .name { color: #999; }
#sidebar #profile .name .name_inner { color: #666; }
#sidebar #profile .name .fa { color: #02b875; }
#sidebar #profile .profile-content { color: #888; }
#sidebar .search-form-input { border: 1px solid #e5e5e5; }

.sidebar_switcher .sidebar_switcher_inner { color: #bbb; background: #fff; border: 1px solid #e5e5e5; }

.posts article { background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
.posts article.index-post .post-content { color: #999; }
.posts article.single-post .post-top { background: #f6f8fa; }
.posts article.single-post .post-title { border-bottom: 1px solid #e5e5e5; }
.posts article.single-post .post-content { color: #666; }
.posts article .post-sticky { color: #fff; background: #02b875; }
.posts article .post-title a { color: #666; }
.posts article .post-title a:hover { color: #02b875; }
.posts article h1, .posts article h2, .posts article h3, .posts article h4, .posts article h5 { border-left: 2px solid #02b875; background: #f6f8fa; }
.posts article blockquote { border-left: 2px solid #02b875; background: #f6f8fa; }
.posts article .textload { background: #fff; }
.posts article .textload p { background: #f4f4f4; }
.posts .ias-trigger a { background: #fff; border: 1px solid #e5e5e5; }

.page-numbers { background: #fff; border: 1px solid #e5e5e5; }
.page-numbers.current, .page-numbers:hover { color: #fff; background: #02b875; }

.post-download { color: #666; border-left: 2px solid #02b875; background: #f6f8fa; }
.post-download .link { color: #02b875; }
.post-download .reply { color: red; }

#footer .footer-inner { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); background: #fff; }

#m-header { background: #fff; border-bottom: 1px solid #e5e5e5; }

#m-menu { background: #fff; border-left: 1px solid #e5e5e5; }

.timeline { border-left: 1px solid #e5e5e5; }
.timeline .tl-item { border-left: 1px solid #02b875; }

.readers-list li .readers-inner { border: 1px solid #e5e5e5; }

#comment-jump #commentform .comment-form-author::before, #comment-jump #commentform .comment-form-email::before, #comment-jump #commentform .comment-form-url::before, #comment-jump #commentform .fa::before { color: #666; }
#comment-jump #commentform input[type="text"], #comment-jump #commentform textarea { background: #fff; border: 1px solid #e5e5e5; }
#comment-jump #commentform .commentPlus { border-top: 1px solid #e5e5e5; }
#comment-jump #commentform input[type=submit] { border: 1px solid #e5e5e5; color: #fff; background: #02b875; border: 1px solid #02b875; }
#comment-jump .comment-block { background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
#comment-jump .comment-block .comment-header { border-bottom: 1px solid #e5e5e5; }
#comment-jump .comment-block .comment-header .author-name, #comment-jump .comment-block .comment-header .author-name a, .comment-body a { color: #02b875; }
#comment-jump .comment-block .comment-bottom a { color: #777; }

/*# sourceMappingURL=skin02.css.map */
